<!DOCTYPE html>
<head>
	<title>Greenhouse Monitoring System</title>
	<meta charset = "utf-8">
	<meta http-equiv="refresh" content="10; URL=http://boospammer999.pythonanywhere.com/">
</head>
<body>
    <h1>Greenhouse Monitoring System</h1>
    <br>
    <h3>Greenhouse Parameters</h3>
<div class = "container">
<table class = "table table-striped">
	<thead>
		<tr>
			<th>Temperature</th>
			<th>Humidity</th>
			<th>Light Intensity</th>
			<th>UTC Time</th>
		</tr>
	</thead>
	<tbody>
		{%for param in parameters%}
		<tr>
			<td>{{param.temperature}}</td>
			<td>{{param.humidity}}</td>
			<td>{{param.light_intensity}}</td>
			<td>{{param.timestamp}}</td>
		</tr>
		{% endfor%}
	</tbody>
</table>
</div>
</body>
</html>
